<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Spatial by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="/contato">Arthur</a></strong> Carvalho dos Santos</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Início</a></li>
						<li><a href="/financas">Finanças</a></li>
						<li><a href="elements.html">Página 2</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Contato</h2>
						<p>Arthur Carvalho dos Santos</p>
					</header>

					<a class="image fit"><img src="https://scontent.fbsb3-1.fna.fbcdn.net/v/t1.0-9/1224_938110582937056_2512788525467795559_n.jpg?oh=5f13ec21bf3eeef06e38279b73051199&oe=58D9D5F5" style="width:200px;height:150px;"></a>
					
					<p>Estudante de Engenharia Elétrica da Universidade de Brasília, estagiário da RCS Tecnologia desde 2016.</p>
					<p>Entre em contato comigo através de uma das redes sociais disponíveis no final da tela.</p>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/arthurcarvalhosantos" class="icon fa-facebook"></a></li>
						<li><a href="mailto:arthurcarvalhosantos@gmail.com"  class="icon fa-envelope"></a></li>
						<li><a href="https://www.instagram.com/csantosarthur/" class="icon fa-instagram"></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>