<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Spatial by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="/contato">Arthur</a></strong> Carvalho dos Santos</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Início</a></li>
						<li><a href="/financas">Finanças</a></li>
						<li><a href="elements.html">Página 2</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Finanças</h2>
						<p>Mês mostrado:</p>
					</header>


		<!-- Tabela de Resumo do Mês -->
						<table class="alt">
							<thead>
								<tr>
									<th style="font-size:25px">RECEBIMENTOS</th>
									<th style="font-size:25px">GASTOS DÉBITO</th>
									<th style="font-size:25px">GASTOS CRÉDITO AMEX</th>
									<th style="font-size:25px">GASTOS CRÉDITO VISA</th>
									<th style="font-size:25px">SALDO</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>R$ 700.00</td>
									<td>R$ 31.00</td>
									<td>R$ 0.00</td>
									<td>R$ 0.00</td>
									<td>R$ 669.00</td>
								</tr>
							</tbody>
						</table>						

		<!-- Tabela dos Recebimentos do Mês -->
						<h3>Recebimentos &nbsp <i class="fa fa-plus-square"></i></h3>
						<table>
							<thead>
								<tr>
									<th>Data</th>
									<th>Descrição</th>
									<th>Valor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01/01/2017</td>
									<td>Salário RCS</td>
									<td>R$ 700.00</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>R$ 700.00</td>
								</tr>
							</tfoot>
						</table>
		
		<!-- Tabela dos Gastos do Mês -->
						<h3>Gastos &nbsp <i class="fa fa-plus-square"></i></h3>
						<table>
							<thead>
								<tr>
									<th>Data</th>
									<th>Descrição</th>
									<th>Tipo</th>
									<th>Forma de Pagamento</th>
									<th>Valor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01/01/2017</td>
									<td>Almoço RU</td>
									<td>Alimentação</td>
									<td>Débito</td>
									<td>R$ 10.00</td>
								</tr>
								<tr>
									<td>02/01/2017</td>
									<td>Star Wars: Rogue One</td>
									<td>Cinema</td>
									<td>Débito</td>
									<td>R$ 16.00</td>
								</tr>
								<tr>
									<td>02/01/2017</td>
									<td>Est. PKS</td>
									<td>Estacionamento</td>
									<td>Débito</td>
									<td>R$ 5.00</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="4"></td>
									<td>R$ 31.00</td>
								</tr>
							</tfoot>
						</table>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/arthurcarvalhosantos" class="icon fa-facebook"></a></li>
						<li><a href="mailto:arthurcarvalhosantos@gmail.com"  class="icon fa-envelope"></a></li>
						<li><a href="https://www.instagram.com/csantosarthur/" class="icon fa-instagram"></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>